#MealTitle{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size:40px
}
#instruction_fonts{
    font-size:30px
}
#ingredients_fonts{
    font-size:30px
}
#MovieTitle{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size:40px
}